$input-and-task-background-color: #F7F2FA;
$accent-color: #6750A4;
$border-color: #49454F;
$active-tab-color: #E8DEF8;
$checked-accent-color: #b39fed;

$day-font-size: 20px;
$active-tab-border-radius: 50px;
$search-border-radius: 28px;
$prime-step: 16px;
$prime-font-size: 14px;
$tab-border-radius: 50px;
$checkbox-normal-size: 18px;
$icon-hover-size: 26px;